@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #111;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    #faef9b 50%,
    #f6d776 50%,
    #6da4aa 50%,
    #647d87 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  border-radius: 0.25em;
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0px 10px;
}

ul {
  display: flex;
}
ul li {
  list-style: none;
  padding: 0 13px;
  font-weight: 600;
  font-size: 15px;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul > li > a:hover {
  color: rgb(60, 60, 60);
}
main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
main > div > h1 {
  font-size: 50px;
}
.homeBtn {
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
  background-color: #45565d;
  border-color: transparent;
  color: white;
  font-size: 15px;
}
.logo {
  height: 100px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
